.hoverPath {
  cursor: pointer;
}

.deleteButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--accent-danger);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;

  &:hover {
    background-color: var(--accent-danger-hover);
    transform: scale(1.1);
  }
}
